/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', 'Helvetica Neue', sans-serif;
  height: 100%;
  color: #fff;
  /* overflow-x: hidden; /* Prevent horizontal scrolling */
  
}

/* Flexbox Layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  user-select: none; /* Disables text selection */
  background: radial-gradient(circle at top right, #fcdff7, #f4f4f4, #ffffff);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

/* Navigation */
.top-nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(12px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 1000;
}

.color-blob {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #833AB4, #FD1D1D, #a6c1ee);
  filter: blur(80px);
  z-index: -1;
  opacity: 0.6;
}

/* Logo */
.logo {
  font-size: 1.2rem;
}

.logo a{
  text-decoration: none;
  color: #111;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.logo a span {
  font-size: 0.8rem;
  transform: translateY(-2px);
  transition: transform 0.3s ease-in-out;
}

.logo a:hover span{
  transform: translateY(-6px);
}

/* Nav links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-links a span {
  font-size: 0.8rem;
  transform: translateY(-2px);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover span {
  transform: translateY(-6px);
}

.nav-links a[id=open]{
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.nav-links a[id=open]:hover span{
  font-weight: bold;
  transform: translateY(-2px);
}

/* Main Content */
main {
  flex: 1;
  padding: 40px 20px;
}

.skill {
  gap: 40px;
  animation: fadeIn 2s ease-in-out;
}

.sklii-top {
  flex: 1;
  min-width: 300px;
}

.skill-top h1 {
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin-bottom: 50px;
}

.skills-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.skills-container {
  display: flex;
  gap: 30px;
  animation: scrollSkills 30s linear infinite;
  width: max-content;
  padding: 40px 0px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(12px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  border-radius: 12px;
  padding: 20px 30px;
  min-width: 160px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
  color: #777;
}

.skill-card:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.skills-container:hover{
  animation-play-state: paused ;
}

.skill-card i {
  font-size: 4rem;
  margin-bottom: 10px;
}

.skill-card p{
  font-size: small;
  margin-top: 0;
}

/* Animation */
@keyframes scrollSkills {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


/* Fade-in Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Footer */
footer {
  background : rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 5px 0;
  font-size: 0.6rem;
  border-top: 1px solid #333;
  position: relative;
  color: #777;
  transition: all 0.2s ease; /* Faster and smoother transition */
}
footer p:hover{
  background-color:#fff ;
  background-clip: text;
  -webkit-text-fill-color: transparent;;
  transform: scale(1.05);
  transition: all 0.2s ease; /* Faster and smoother transition */
}